.button:hover {
    background-color: #0056b3; 
    color: #ffffff; 
}
#prevButton,
#nextButton {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    margin: 5px; 
    cursor: pointer; 
}

.content-box {
    background-color: rgba(95, 83, 83, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto; 
    max-width: 80%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.carousel img {
    width: 550px; /* Здесь можно указать желаемую ширину изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 5px;
}

.avatar {
    display: block;
    margin: 0 auto; /* Устанавливаем автоматичесные отступы слева и справа для центрирования */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

/* сообщение  сообщение сообщение сообщение сообщение сообщение*//* сообщение  сообщение сообщение сообщение сообщение сообщение*/
.notification { 
    position: fixed; 
    bottom: 10px;
    right: 10px;
    background-color: #3498db; 
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    font-family: Arial, sans-serif;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: none; 
}

.notification .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.notification .message {
    white-space: normal;
    word-wrap: break-word;
}
